@import '../../utils/mixins';
@import '../../utils/variables';


#headerFilter{
    @include flex;
    justify-content: space-evenly;
    margin-top: $fifty-pixels-value;
    transition: max-height 0.5s ease;

    .filterContainer{
        background-color: $main-grey;
        border-radius: $fifty-pixels-value;
        cursor: pointer;
        text-align: center;

        &.active{
            background-color: $main-blue;
            transition: 0.5s;

            p {
                color: $main-white;
            }

            i{
                display: inline;
            }
        }

        p{
            padding: $twenty-pixels-value $thirty-pixels-value;
            color: $second-grey;
            font-size: 1em;
        }

        i{
            color: $main-white;
            display: none;
        }
    }
}


@media screen and (max-width:1200px){
    #headerFilter{
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Chaque élément entre 150px et 1fr */
        gap: $twenty-pixels-value; /* Augmenter l'espacement entre les éléments */
        justify-content: center; /* Centrer la grille si elle est plus petite que le conteneur */

        .filterContainer{
            p{
                font-size: 0.8em;
            }
        }
    }
}

@media screen and (max-width:700px){
    #headerFilter{
        overflow: hidden;
        max-height: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding-top: $ten-pixels-value;
        background-color: $main-white;

        &.opened{
            max-height: 420px;

            a{
                width: $full-percentage-value;
            }
        }
    }
}