// Color
$main-white: #FFFFFF;
$main-blue: #354CE3;
$main-grey: #343434;
$second-grey: #9E9E9E;

// Percentage Size
$full-percentage-value: 100%;
$half-percentage-value: 50%;

// Pixels Size
$fifty-pixels-value: 50px;
$thirty-pixels-value: 30px;
$twenty-pixels-value: 20px;
$ten-pixels-value: 10px;